.producer-actions {
  display: flex;
  justify-content: space-between;
  background-color: #EFF2F5;
  padding: 15px 25px;
  .left-side {
    display: flex;
    align-items: center;
    .producer-all-check {
      display: block;
      padding-right: 15px;
    }
    .text{
      display: flex;
      flex-direction: column;
      .title {
        color: #999999;
        font-size: 12px;
        white-space: nowrap;
      }
      .producer-name {
        white-space: nowrap;
        font-size: 16px;
        color: #1A1A1A;
      }
    }
    .checkbox-container {
      margin-bottom: 0;
    }
  }

    .right-side {
      max-width: 210px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      .decision {
        color: #999999;
        font-size: 12px;
      }

      .radio-buttons {
        display: flex;
        .label-wrap {
          &:not(:last-child) {
            margin-right: 30px;
          }
          label {
            display: flex;
            align-items: center;
            .title {
              order: 2;
              font-size: 16px;
              //margin-left: 15px;
            }
            input {
              order: 1;
            }
          }
        }
      }



      .requested {
        max-width: 60px;
        width: 100%;

      }
      .offered {

      }
      .total {


      }
    }
}

.producer-table-titles {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 12px;
  color: #999999;
  font-weight: 800;
  .left-side {
    box-sizing: content-box;
    padding-left: 60px;
    max-width: 460px;
    width: 100%;
    font-size: 12px;
    color: #999999;
  }
  .right-side {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

}

.table-cell {
  padding: 0 10px;
}