.r-address-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.3);
  z-index: 9999999;
  .active {
    display: block;
    transition: all .3s ease;
    visibility: visible;
    opacity: 1;
  }
  &.hide {
    visibility: hidden;
    opacity: 0;
  }
  &__content {
    padding: 20px;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 834px;
    width: 100%;
    background-color: #F9FAFB;
    .inner {
      overflow-y: auto;
      max-height: 100vh;
      .modal-title {
        margin-bottom: 20px;
        font-size: 24px;
        color: #1A1A1A;
      }

      &::-webkit-scrollbar {
        display: none;
      }
      .chose-shipping {
        display: flex;
        justify-content: space-between;
        .left {
          font-size: 16px;
        }
      }
      .destination {
        display: flex;
        flex-direction: column;
        .title {
          display: block;
        }

        .address-fields {
          margin-top: 14px;
          .field {
            display: block;
            font-size: 16px;
            //line-height: 24px;
            color: #1A1A1A;
          }
        }
      }

      .contact-information {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #E0E6EA;
        margin-top: 20px;
        border-top: 1px solid #E0E6EA;
        .title {
          font-size: 16px;
          text-transform: inherit;
          font-family: 'NunitoSans-Regular', sans-serif;
        }
        .inputs-wrap {
          display: flex;
          justify-content: space-between;
          label {
            width: 100%;
            max-width: calc(50% - 10px);
            display: flex;
            flex-direction: column;
            input {
              width: 100%;
              max-height: 55px;
              height: 100%;
            }
          }

        }
      }

      .selected-products {
        margin-top: 30px;
        .title {
          display: flex;
          justify-content: space-between;
        }
        .product {
          margin-bottom: 20px;
          .r-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left {
              .bottom-spec {
                display: flex;
                justify-content: flex-start;
                //max-width: 500px;
                width: 100%;
                .spec {
                  font-size: 14px;
                  color: #808080;
                  &:not(:last-child) {
                    margin-right: 20px;
                  }
                }
              }
            }
            .offered {
              margin-left: auto;
              &.declined {
                text-decoration: line-through;
              }
              .requested-edit {
                display: flex;
                align-items: center;
                height: 35px;
                button {
                  height: 100%;
                  min-width: 28px;
                  background-color: #B4936A;
                  color: #fff;
                  border: none;
                  outline: none;
                }
                .requested-input {
                  max-width: 60px;
                  max-height: 35px;
                  height: 100%;
                  vertical-align: middle;
                  text-align: center;
                }
              }
            }
          }

        }
      }
    }

    .buttons {
      display: flex !important;
      justify-content: flex-end;
    .modal-btn{
      padding: 14px 24px;
      border: none;
      outline: none;
      text-transform: uppercase;
      font-size: 16px;
      text-decoration: none;
      transition: all .3s ease;
      &.cancel {
        margin-right: 25px;
        background-color: transparent;
        color: #808080;
      }
      &.save {
        background-color: #B4936A;
        color: #fff;
        &:hover {
          background-color: #C3A988;
          border-color: #C3A988;
        }
      }
    }


    }
  }

}