.product-item {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 15px 20px;

  .image {
    max-width: 108px;
    width: 100%;
    height: 108px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .descr {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    width: 100%;
    padding: 0 20px;
    .name {
      font-size: 16px;
      color: #B4936A;
      text-transform: none;
    }
    .delivery-option-block {
      display: flex;
      justify-content: flex-start;
      .edit-btn {
        margin-left: 20px;
        font-size: 12px;
        color: #B4936A;
      }
    }
    .option-title {
      font-size: 12px;
      color: #007059;
    }
  }

  .requested {
    &-edit {
      display: flex;
      max-width: 110px;
      width: 100%;
    }
    &-input {
      max-width: 50px;
      width: 100%;
    }
  }

  .total {
    margin-left: auto;
  }

  .offered {
    margin-left: auto;
  }
}